@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center display-4" id="HomeText">Home</div>
    <div class="text-center">
        <div class="HomeArtMuseum">       
            <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>
             <div class="gallery2">
                <img src="path you get from img ID" alt="" id="imgID" width="600" height="400">
                <div class="desc">Add a description of the image here</div>
            </div>

        </div>
    </div>
