@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center display-4" id="HomeText">Home</div>
    <div class="text-center">
        <div class="HomeArtMuseum">



        </div>
    </div>
