@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center display-4" id="HomeText">Welcome</div>
    <div class="text-center">
       <button class="btn btn-light btn-lg">
           <a asp-controller="Commission" asp-action="CommissionGallery">View Commissions</a>
       </button>
    </div>
