

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    font-size: 14px;
    min-height: 100%;
    position:relative;
    background: linear-gradient(90deg, rgba(204, 214, 235,1) 0%, rgba(163, 195, 217,1) 35%, rgba(174, 118, 166,1) 100%);
}

body {
    margin-bottom: 60px;
    background: linear-gradient(90deg, rgba(204, 214, 235,1) 0%, rgba(163, 195, 217,1) 35%, rgba(174, 118, 166,1) 100%);
    border-block-end: 2px solid black;
}

.authform {
    width: 300px;
    height: max-content;
    margin: auto;
    padding: 50px;
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.profile-top{
    padding: 150px;
}

.bannerImageUploadSpot {
    position: absolute;
    color: brown;
    top: 100px;
    left: 119px;
    border-radius: 8px;
    background-color: #dfe7fd;
    width: 1300px;
    height: 238px;
}



.profileImageUploadSpotWord {
    position: absolute;
    z-index: 9997;
    top: 310px;
    left: 1155px;
    right: 20px;
}


        .profileImageUploadSpot {
            position: absolute;
            top: 200px;
            left: 1100px;
            right: 20px;
            color: brown;
            border-radius: 50%;
            background-color: #2DC2BD;
            border: 2px solid black;
            width: 250px;
            height: 250px;
        }

        #profile-image {
            border-radius: 50%;
            position: absolute;
            top: 200px;
            left: 1100px;
            right: 20px;
            color: brown;
            width: 250px;
            height: 250px;
        }

        .profile-information {
            top: 350px;
            left: 300px;
            font-family: "Rockwell","Copperplate";
            font-size: 30px;
        }

        div.gallery {
            margin: 70px;
            border: 1px solid #ccc;
            float: left;
            width: 300px;
            background-color: #D7DAE5;
        }

            div.gallery img {
                width: 300px;
                height: 200px;
            }

        .ArtMuseum {
            padding-left: 8rem;
        }

        .HomeArtMuseum {
            padding-left: 10em;
        }

        #HomeText {
            font-size: 50px;
            font-family: Monaco;
            text-shadow: 2px 2px 5px #DF367C;
            color: #CFFCFF;
        }

        div.gallery2 img {
            width: 400px;
            height: 300px;
        }

        div.gallery2 {
            margin: 65px;
            border: 1px solid #ccc;
            float: left;
            width: 400px;
            background-color: #D7DAE5;
        }