html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#test {
    width: 300px;
    height: 500px;
    padding: 50px;
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

#test2 {
    width: 300px;
    height: 500px;
    padding: 50px;
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}


