@page
@model Galleria.Areas.Identity.Pages.Commissions.CommisisonModel
@{
}
<div class="commissionContainer">
    <div class="commissionWrapper">
        <div class="commissionHeader">
            <h3>Commission Name</h3>
            <h4><span>Commission Currency (in symbol)</span>Commission Price</h4>
        </div>
        <div>
            <img alt="" src="{commissionIMG}"/>
            <div>
                Artist Name
            </div>
            <div>
                <p>Product Description</p>
            </div>
        </div>
    </div>
</div>