@model Commissions

<div class="gallery2">
    <img src="data:image/jpeg;base64,@Model.CommissionImage" alt="" id="imgID" width="600" height="400">
    <div class="desc" >@Model.Description</div>
</div>
