@model Commissions

<div class="gallery2">
    <img src="@Model.CommissionImage" alt="" id="imgID" width="600" height="400">
    <h1 class="desc">@Model.CommissionName</h1>
    <div class="desc" >@Model.Description</div>
</div>
