 @page
@model Galleria.Models.CommissionModel
@{/* Should take in information from the database and populate the fields for each commission */
}
 <a class="Commissions-page"  style="position:relative; left:-10px; top:-10px;" href="../Profile/Index">Commissions</a> <a id="Pricing-page" style="position:relative; left:40px; top:-10px;"href="../Profile/_PricingInformation">Pricing</a> <a id="Contact-page" style="position:relative; left:110px; top:-10px;" href="../Profile/_ContactInformation">Contact</a> <a class="About-page" style="position:relative; left:180px; top:-10px;" href="../Profile/_AboutMePartial">About</a>
<div class="profile-top">
   <span class="bannerImageUploadSpot"></span>

        <input type="file" accept="image/gif, image/jpeg, img/png" id="file2" onchange="loadProfilePic(event)"/>
      <p><label for="file2" class="profileImageUploadSpotWord">Upload Profile Image</label></p>
      <span class="profileImageUploadSpot"></span>
      <p><img id="profile-image" /></p>
      
</div>

<div class=" text-center">
    <ul>
        <li>{product}....{price}</li>
        <li>{product}....{price}</li>
        <li>{product}....{price}</li>
    </ul>
</div>

       <div>
      <script>
        var loadBannerPic = function(event) {
        var image = document.getElementById('banner-image');
        image.src = URL.createObjectURL(event.target.files[0])
        };

        var loadProfilePic = function(event) {
        var image = document.getElementById('profile-image');
        image.src = URL.createObjectURL(event.target.files[0])
        };
        </script>
        </div>
        