 @page
@model Galleria.Models.CommissionModel
@{/* Should take in information from the database and populate the fields for each commission */
}

<div class="text-center">
        <form>
            <div class="commissionHeader">
                <pre>
                    <label for="desc">Commission Name</label><>
                    <input type="text"  CommissionModel.   placeholder="Commission Name"/>
                    <span>
                    <label for="currency">Choose a currency:</label>

                    <select name="currency" id="currency">
                      <option value="usd">USD</option>
                      <option value="euro">Euro</option>
                      <option value="yen">Yen</option>
                      <option value="pound">Pound</option>
                    </select>
                     </span>
                     <label for="desc">Commission Price</label>
                    <input type="number" placeholder="Commission Price" />
                </pre>
                
            </div>
                    <div>
                        <pre><input type="file" accept="image/gif, image/jpeg, img/png" id="file6" onchange="loadCommissionPic(event)"/>
                         <p><label for="file6" class="ImageUploadSpot1">Upload Commission Image</label></p>
                         <p><img id="commission-image" width="800" height="600"/></p>
                         {Artist Name} @{/* Artist name is taken from current profile that is logged in, and should not be able to change*/}<br />
                         <br /><label for="desc">Commission Description</label><br />
                         <input type="text" placeholder="Commission Description" />
                        </pre>
               
                    </div>
        </form>
        <div>
                <script>
                
                        var loadCommissionPic = function(event) {
                        var image = document.getElementById('commission-image');
                        image.src = URL.createObjectURL(event.target.files[0])
                        };
                </script>
        </div>
</div>