 @page
@model Galleria.Models.CommissionModel
@{/* Should take in information from the database and populate the fields for each commission */
}
<div class="text-center">
    <div class="commissionWrapper">
        <form>
            <div class="commissionHeader">
                <pre>
                    <label for="desc">Commission Name</label><>
                    <input type="text" placeholder="Commission Name"/>
                    <span>
                    <label for="currency">Choose a currency:</label>

                    <select name="currency" id="currency">
                      <option value="usd">USD</option>
                      <option value="euro">Euro</option>
                      <option value="yen">Yen</option>
                      <option value="pound">Pound</option>
                    </select>
                     </span>
                     <label for="desc">Commission Price</label>
                    <input type="number" placeholder="Commission Price" />
                </pre>
                
            </div>
            <div>
                <pre>
                        <label for="desc">Commission Images</label>
                        <img alt="" src="{commissionIMGPreview}"/>@{/* Image should take in whatever is uploaded */}
                        <button action="uploadImages" id="UploadedImages">Upload Image(s)</button>
                </pre>
                <div>
                    {Artist Name} @{/* Artist name is taken from current profile that is logged in, and should not be able to change*/}
                </div>
                <div>
                    <label for="desc">Commission Description</label>
                    <input type="text" placeholder="Commission Description" />
                </div>
            </div>
        </form>
    </div>
</div>